# Pandas Day 1

### pandas is the step up version of numpy which is used for data handling we can handle data.

## Pandas
Pandas is a Python library used for **data analysis and data manipulation**.  
It is built on top of **NumPy** and is widely used to work with **structured data**.

In [1]:
import pandas as pd

## Series
A **Series** is a **one-dimensional** labeled data structure.  
It is similar to a **single column** in a table.

**Key Points:**
- Contains values and an index
- Supports label-based access
- Can store different data types

In [12]:
# series method 

series = pd.Series([1,2,3,4,5])
series

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Series method with index 

series_1 = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
series_1

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [15]:
# Accessing the series element 

print(series[2])
print(series_1['a'])

3
1

# Pandas DataFrames

### pandas dataframe is like multi dimentional array in numpy it consists of rows as columns

##  DataFrame
A **DataFrame** is a **two-dimensional** data structure with **rows and columns**.  
Each column in a DataFrame is a **Series**.

**Key Points:**
- Similar to an Excel sheet or SQL table
- Can store heterogeneous data
- Most commonly used Pandas object

In [6]:
# DataFrame on a list : 

df_list = pd.DataFrame([1,2,3,4,5])
df_list.head()

   0
0  1
1  2
2  3
3  4
4  5

In [16]:
# DataFrame Using dictionary : 

df = pd.DataFrame({"name" : ["Nikhil","Nitin","Aditya"],"age" : [17,19,21]})
df.head()

     name  age
0  Nikhil   17
1   Nitin   19
2  Aditya   21

## Index
An **Index** is used to label rows in Pandas.  
It enables fast data access and alignment.

In [ ]:
# DataFrame with index : 

df = pd.DataFrame({"name" : ["Nikhil","Nitin","Aditya"],"age" : [17,19,21]},index=['001','002','003'])
df.head()

       name  age
001  Nikhil   17
002   Nitin   19
003  Aditya   21

## Summary (Day 1)

- Learned basics of Pandas
- Created Series and DataFrames
- Understood Index and basic column selection
- Built foundation for further Pandas concepts