# Pandas DAY 2

In [ ]:
import pandas as pd

In [ ]:
# Creating a Dataframe : 

student_data = pd.DataFrame({"Name":["Nikhil","Nitin","Aditya"],
                             "Age" : [17,19,21],
                             "University" : ['BHU','DU','LU']},
                             index=['001','002','003'])

In [26]:
student_data

       Name  Age University
001  Nikhil   17        BHU
002   Nitin   19         DU
003  Aditya   21         LU

## Inspecting Data (Shape, Columns , Data_type)

In [27]:
# To check the shape : 
print("Shape of dataset is : ")
print(student_data.shape)


# To check the Columns : 
print("\nColumns of dataset are :")
print(student_data.columns)


#To check the datatypes : 
print("\nDatatype of columns are : ")
print(student_data.dtypes)

Shape of dataset is :
(3, 3)

Columns of dataset are :
Index(['Name', 'Age', 'University'], dtype='object')

Datatype of columns are :
Name          object
Age            int64
University    object
dtype: object

## Identifying Numerical and Categorical Columns

Numerical columns represent **quantities** on which mathematical operations (mean, sum, etc.) make sense, such as age or salary.

Categorical columns represent **labels or groups** used for classification, such as gender, department, or city.

### How to identify
- Columns with `int` or `float` data types are usually **numerical**
- Columns with `object` or `category` data types are usually **categorical**
- Some numeric-looking columns (like `id`) are identifiers and should be treated as **categorical**

### Key Point
Data type helps identify column type, but the **meaning of the data** is more important.

In [ ]:

# Identify numerical columns
numerical_cols = student_data.select_dtypes(include=["int64", "float64"]).columns

# Identify categorical columns
categorical_cols = student_data.select_dtypes(include=["object"]).columns

print("Numerical Columns:")
print(numerical_cols)

print("\nCategorical Columns:")
print(categorical_cols)

Numerical Columns:
Index(['Age'], dtype='object')

Categorical Columns:
Index(['Name', 'University'], dtype='object')

## Column selection 

Column selection is used to choose specific columns from a DataFrame.

- Selecting a single column returns a Series  
- Selecting multiple columns returns a DataFrame

In [37]:
# Selecting the Name column from student_data dataset
student_data['Name']

001    Nikhil
002     Nitin
003    Aditya
Name: Name, dtype: object

## Row Filtering

Row filtering is used to select rows based on a condition.

- Conditions are applied on column values  
- Only rows that satisfy the condition are returned

In [38]:
# Filtering rows using condition
student_data[student_data["Age"] > 18]

       Name  Age University
002   Nitin   19         DU
003  Aditya   21         LU


## loc vs iloc
- **loc** → Label-based indexing  
- **iloc** → Integer position-based indexing  

Use **loc** with row/column names.  
Use **iloc** with numerical positions.

In [32]:
# Row selection 

student_data.loc["001",'Name']
student_data.loc["003",'Age']


# Row selection by index using iloc

student_data.iloc[1,1]
student_data.iloc[2,0]

'Aditya'

## Summary (Day 2)

- Created and inspected a DataFrame
- Identified numerical and categorical columns
- Selected single and multiple columns
- Filtered rows using conditions
- Used `loc` and `iloc` for data selection